---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import { Image } from "astro:assets";
import Cirkler from "../assets/images/Cirkler.svg";
import blaacirkel from "../assets/images/blaacirkel.svg";
import hero from "../assets/images/hero.svg";
import portræt from "../assets/images/portræt.webp";
import loading from "../assets/images/loading.svg";
---

<MainLayout title="Titel">
  <section class="container mx-auto grid grid-cols-24 grid-rows-[50px_50px_50px_50px_50px_50px_50px_50px_50px_50px]">
    <Image class="col-[2_/_span_7] row-5 md:row-1 md:col-[2_/_span_20] md:row-1 rotate-90" src={Cirkler} alt="Cirkler i forskellige farver" />
    <h1 class="text-7xl uppercase col-[4_/_span_14] row-6 md:col-[5_/_span_17] md:row-6 md:text-9xl z-10">Luna Ring</h1>
    <Heading htmlheading="h2" size="large" stylingclasses="col-[14_/_span_4] row-8 md:row-9 md:col-[14_/_span_4] md:row-9">Digital<br />Designer</Heading>
    <Image class="col-[22_/_span_2] row-10 md:col-[22_/_span_2] md:row-10" src={blaacirkel} alt="Cirkler i forskellige farver" />
  </section>

  <section id="om" class="container mx-auto grid grid-cols-12 mt-30">
    <!-- <div class="col-[5_/_span_7] pt-5 md:col-[7_/_span_4] md:pt-10">
      <Heading htmlheading="h3" size="medium">Skills</Heading>
      <Text stylingclasses="text-3xl md:text-5xl">UX RESEARCH, MULTIMEDIEDESIGN, CODING, UI DESIGN, GRAPHIC DESIGN, ANIMATION</Text>
      <Image src={Cirkler} alt="Cirkler i forskellige farver" />
    </div> -->
    <div class="bg-[url(../src/assets/images/cirkler.svg)] bg-contain bg-no-repeat col-[5_/_span_7] pt-5 md:col-[7_/_span_5] md:pt-10">
      <Heading htmlheading="h3" size="medium">Skills</Heading>
      <Text stylingclasses="text-3xl md:text-5xl">UX RESEARCH, MULTIMEDIEDESIGN, CODING, UI DESIGN, GRAPHIC DESIGN, ANIMATION</Text>
    </div>
    <div class="col-[2_/_span_5] py-5 md:col-[3_/_span_3] md:-order-1 md:pt-50">
      <Heading htmlheading="h3" size="medium">Hej!</Heading>
      <Text>Mit navn er Luna, jeg er 22 år og studerer multimediedesign på Erhvervsakademi København. Som digital designer, er jeg inspireret af mødet mellem klassiske designtendenser & moderne æstetik.</Text>
    </div>
  </section>

  <section class="container mx-auto grid grid-cols-12 grid-rows-1">
    <div class="row-1 col-[4_/_span_1] pt-76 md:col-[3_/_span_1] md:pt-67 md:pl-4">
      <Image class="animate-spin" style={{ animationDuration: "6s" }} src={loading} alt="Loading animation" />
    </div>
    <div class="row-1 col-[2_/_span_4] pt-80 md:col-[2_/_span_3] md:pt-80">
      <Heading htmlheading="h3" size="medium">Software ...</Heading>
      <Text stylingclasses="text-3xl md:text-5xl">FIGMA<br />VS CODE<br />GIT/GITHUB<br />ILLUSTRATOR<br />PREMIERE PRO<br />AFTER EFFECTS<br />PHOTOSHOP</Text>
    </div>
    <div class="row-1 col-[6_/_span_6] md:col-[8_/_span_4] md:pt-10">
      <Image class="grayscale" src={portræt} alt="Portrætfoto" />
      <Image class="rotate-270" src={Cirkler} alt="Cirkler i forskellige farver" />
    </div>
  </section>
</MainLayout>
